

<table id='table-articles' class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th data-sort="string-ins" >Title</th>
			<th data-sort="string-ins" class='tags'>Tags</th>
			<th data-sort="string-ins">Category</th>
			<th data-sort="string-ins">Date</th>
			<th class='actions'></th>
		</tr>
	</thead>

	<tbody>
		<% articles.each do |article| %>
			<%= render 'article', article: article %>
		<% end %>
	</tbody>
</table>
