

<table id='table-articles' class="bordered-table">
	<thead>
		<tr>
			<th data-sort="string-ins" >Title</th>
			<th data-sort="string-ins">Tags</th>
			<th data-sort="string-ins">Category</th>
		</tr>
	</thead>

	<tbody>
		<% articles.each do |article| %>
			<%= render 'article', article: article %>
		<% end %>
	</tbody>
</table>
