<h1><%= @articles.size %> Articles <span class='about'>(path in config/application.rb : <%= Railstheman::Application.config.path_application %>)</span></h1>

Click on the header titles to sort the table

<%= render 'articles', articles: @articles %>
